body {
  background-color: rgb(216, 214, 214);
}
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app h3 {
  margin-bottom: 20px;
}
.wrapper {
  background-color: rgb(241, 238, 238);
  padding: 100px;
  border-radius: 10px;
}
.inputContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.inputContainer input {
  width: 100%;
  border-radius: 5px;
  outline-width: none;
  border: 1px solid black;
  height: 30px;
}
input:focus {
  outline-width: 0;
}
